
<div class="col-md-12", id="navbar">
        <h3>
          <a id="space" href="/cosmos">Космос</a> |
          <a id="science" href="/science">Наука</a> |
          <a id="medicine"href="/medicine">Медицина </a>
        </h3>
        <h1>
          <a class="logo" href="/">ScienceNews</a>
        </h1>

      </div>