<!DOCTYPE html>
<html>
  <head>
    <title>create</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form method="post", action="/new">
  		<p> Назва
  			<input type="text", name="name">
  		<p> Текст
  			<textarea type="textarea", name="text" cols="100" rows="30"></textarea>	
  		<p> Розділ
  			<select name="category">
  				<option>Наука</option>
  				<option>Медицина</option>
  				<option>Космос</option>
			</select>

		<p> image Url
  			<input type="textarea", name="image">
  		<button type="submit">submit</button>
  	</form>		
  </body>
</html>


